.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  padding:15px;
  margin: 0 auto;
 }

 .card{
   left: 150px;
   width: 800px;
 }

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-form {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  position: relative;
  left: 300px;
}

.container-form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container-form .title::before {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-form form .customer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;

}

form .customer-details .input-box {
    margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .customer-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .customer-details .input-box input {
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .customer-details .input-box input:focus, 
form .customer-details .input-box input:valid{
    border-color: #9b59b6;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:#fff;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media(max-width:584px){
    .container{
        max-width: 100%;
    }
    form .customer-details .input-box {
        margin-bottom: 15px;
      width: 100%;
    }
    .container form .customer-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .customer-details::-webkit-scrollbar{
        width: 3px;
    }
}

.credit-search{
  left: 0;
  width: 300px;
  padding: 10px;
}

.credit-app-button{
  position: relative;
  right: 0px;
}

.c-add{
  position: relative;
  left: -550px;
  border: solid 1px green;
}
.s-btn{
  margin-left: 50px;
}
